@{
    ViewData["Title"] = "About";
    Layout = "_TourLayout";
}
<div class="page-top" id="templatemo_about">
</div> <!-- /.page-header -->

<div class="middle-content">
    <div class="container">

        <div class="row">
            <!-- first row -->

            <div class="col-md-6">
                <!-- first column -->
                <div class="widget-item">
                    <h3 class="widget-title">Our Company</h3>
                    <div class="sample-thumb">
                        <img src=@Url.Content("~/MainLayout/images/about_1.jpg") alt="about us" title="about us">
                    </div> <!-- /.sample-thumb -->
                    <h4 class="consult-title"> Мы предлагаем Вам только самое лучшее!</h4>
                    <p>
                        Во всех странах наших клиентов обслуживают подготовленные и высококвалифицированные сотрудники.<br><br>
                        Их работа строится по одному принципу - служба бронирования подтверждает места в отелях, операционный отдел обеспечивает трансферы и экскурсионное обслуживание, 
                        а сотрудники отдела guest relation помогают клиентам чувствовать себя как дома. Это позволяет SolnTour делать отдых туристов качественным и комфортным.
                    </p>
                </div> <!-- /.widget-item -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-6">
                <!-- second column -->
                <div class="widget-item">
                    <h3 class="widget-title">Our Team</h3>
                    <div class="sample-thumb">
                        <img src=@Url.Content("~/MainLayout/images/about_2.jpg") alt="company" title="company">
                    </div> <!-- /.sample-thumb -->
                    <h4 class="consult-title"> Команда профессионалов: мы всегда первые!</h4>
                    <p>
                        Команда SolnTour - инициативная группа единомышленников, объединенная нравственными и этическими нормами, едиными целями, устремлениями и темпами развития, которая способна профессионально и эффективно достигать Стратегические Цели компании.
                    </p>
                </div> <!-- /.widget-item -->
            </div> <!-- /.col-md-4 -->



        </div> <!-- /.row first -->



    </div> <!-- /.container -->
</div> <!-- /.middle-content -->
