@model IEnumerable<SolnTourCore.Presentation.ViewModels.CountryViewModel>
@{
	ViewData["Title"] = "Home Page";
}


<table>

	@foreach (var item in Model)
	{
		<tr>
		    <td>@Html.DisplayFor(modelItem => item.CountryId)</td>
            <td>@Html.DisplayFor(modelItem => item.CountryName)</td>


		</tr>

	}
</table>

