@model IEnumerable<SolnTourCore.Presentation.ViewModels.CountryViewModel>
@{
	ViewData["Title"] = "Home Page";
}

    <p>
        <label for="country">Countries</label>
        <select name="country">
            @foreach (var item in Model)
            {
                <option value="@Html.DisplayFor(modelItem => item.CountryName)">@Html.DisplayFor(modelItem => item.CountryName)</option>
            }
        </select>
    </p>

@using (Html.BeginForm("Update", "Home", FormMethod.Post))
{
    <p>
        <label>CountryIdLast</label><br/>
        <input type="text" name="countryIdLast"/>
    </p>
    <p>
        <label>CountryNewName</label>
        <input type="text" name="countryNewName"/>
    </p>
    <p>
        <input type="submit" value="Update country!"/>
    </p>
}


<table>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CountryId)</td>
            <td>@Html.DisplayFor(modelItem => item.CountryName)</td>


        </tr>

        }
</table>

