@model IEnumerable<SolnTourCore.Presentation.Models.Place>
@{
	ViewData["Title"] = "Home Page";
}


<table>
	<tr>
		<td>id</td>
		<td>Name</td>
		<td>CountryId</td>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.PlaceId</td>
			<td>@item.PlaceName</td>
			<td>@item.CountryId</td>
		</tr>

	}
</table>

