@model IEnumerable<SolnTourCore.Presentation.Models.Recreation>
@{
	ViewData["Title"] = "Home Page";
}


<table>
	<tr>
		<td>id</td>
		<td>Name</td>
		<td>Description</td>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.RecreationId</td>
			<td>@item.RecreationName</td>
			<td>@item.Description</td>
		</tr>

	}
</table>

