@model IEnumerable<SolnTourCore.Presentation.Models.RoomType>
@{
	ViewData["Title"] = "Home Page";
}


<table>
	<tr>
		<td>id</td>
		<td>Name</td>
		<td>Description</td>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.RoomTypeId</td>
			<td>@item.RoomTypeName</td>
			<td>@item.Description</td>
		</tr>

	}
</table>

