@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = null;
}

<!doctype html>
<html>
<head>
	<title>Starting SolnTourCore project!</title>
	<meta name="viewport" content="width=device-width"/>
</head>
<body>
	<h2>Hello! Start with me!</h2>
</body>
</html>