@model IEnumerable<SolnTourCore.Presentation.Models.country>
@{
	ViewData["Title"] = "Home Page";
}


<table>
	<tr>
		<td>id</td>
		<td>Name</td>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.country_id</td>
			<td>@item.country_name</td>
		</tr>

	}
</table>

