@using SolnTourCore.Presentation.ViewModels;
@model List<HotelViewModel>
@{
    ViewData["Title"] = "Tour Search";
    Layout = "_TourLayout";
    List<CountryViewModel> counties = ViewBag.Countries;
    List<HotelCategoryViewModel> hotelCategories = ViewBag.HotelCategories;
}

<div class="page-top" id="templatemo_search">
</div> <!-- /.page-header -->

@using (Html.BeginForm("FindTour", "Home", FormMethod.Post))
{
    <p>
        <label for="countryName">Countries</label>
        <select name="countryName">
            @foreach (var item in counties)
            {
                <option value="@item.CountryName">@Html.DisplayFor(modelItem => item.CountryName)</option>
            }
        </select>
    </p>
    <p>
        <label for="hotelCategoryName">Hote Categories</label>
        <select name="hotelCategoryName">
            @foreach (var item in hotelCategories)
            {
                <option value="@item.HotelCategoryName">@Html.DisplayFor(modelItem => item.HotelCategoryName)</option>
            }
        </select>
    </p>
    <p>
        <input type="submit" value="Поиск тура"/>
    </p>

}